attr
backoff
beautifulsoup4
brotli
brotlicffi
chardet
ConfigParser
cryptography
docutils
filelock
h2
HTMLParser
ipython
ipywidgets
js
json5
keyring
numpy
openai
pandas
playwright
protobuf
pymongo
pyOpenSSL
python-dotenv
python_dateutil
readability_lxml
redis
simplejson
Sphinx
thread
tqdm
typing_extensions
urllib3_secure_extra
zstandard
